<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :site_id, value: params[:site_id] %>
  <h2 class="micropost">Enter an item that you want</h2>
  <div class="field styled-select">
    <%= f.select :wants_item, @site.trade_list %>
  </div>
  <h2 class="micropost">Description</h2>
  <div class="field styled-desc">
    <%= f.text_field :wants_description %>
  </div>
  <h2 class="micropost">Upload an image</h2>
  <div class="field styled-desc">
    <%= f.file_field :wants_image %>
  </div>
  <br>
  <h2 class="micropost">Enter an item that you have</h2>
  <div class="field styled-select">
    <%= f.select :has_item, @site.trade_list %>
  </div>
  <h2 class="micropost">Description</h2>
  <div class="field styled-desc">
    <%= f.text_field :has_description %>
  </div>
  <h2 class="micropost">Upload an image</h2>
  <div class="field styled-desc">
    <%= f.file_field :has_image %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  </div>
  <br>
<% end %>
