<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if site? %>
      <%= render 'layouts/site_header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <% if site? %>
        <%= render 'layouts/site_footer' %>
      <% else %>
        <%= render 'layouts/footer' %>
      <% end %>
    </div>
  </body>
</html>